.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.cards {
  display: flex;
  gap: 2rem;

  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cardMedia:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #000;
}
.off {
  color: #ccc;
}
Button.add {
  background-color: #89ec89;

}
/* Button.remove {
  background-color: red;
} */
.booked {
  color: red;
  text-decoration: line-through;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
