.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.cards {
  display: flex;
  gap: 2rem;

  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cardMedia:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #000;
}
.off {
  color: #ccc;
}
Button.add {
  background-color: #89ec89;

}
/* Button.remove {
  background-color: red;
} */
.booked {
  color: red;
  text-decoration: line-through;

}
#lease-cost {
  color:"#fff";
 background-color: purple;
 width: 100px;
 height: 50px;
 font-size: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Adding styling*/
.searchfilterunderlayimage {
  background-image: url("./assets/Nairobi_cityscape2.jpg");
  /* background-repeat: no-repeat;
  background-size: contain;
  background-position: center; */
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position-y: 20%;
  /* background-size: cover; */
  /* background-size: 100% 100%; */
  background-size: cover;
  height: 15rem;
  /* object-fit: contain; */
  padding: 60px;
}

.stylingfiltersearch {
  /* max-width: 1000px; */
  margin: 0px;
  padding: 32px 120px;
  /* display: grid; */
  /* gap: 16px; */
  /* grid-template-columns: 200px 1fr; */
  align-items: center;
  z-index: 15;
  position: sticky;
}

#searchinput {
  float: right;
}

#h1-in-search-div {
  text-align: center;
  color: white;
}

.search-filter-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(32 14 14 / 50%);
}

.menu-container {
  background-color: #ffffff;
  width: 91%;
  height: auto;
  margin: 10px auto;
  border-radius: 10px;
  opacity: 0.95;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}
